# 용매성분 국/영문 매칭하여 저장

In [1]:
import pandas as pd
data = pd.read_csv('./data/02.데이터수집_01크롤링_용매성분_solvent.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 844 entries, 0 to 843
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   solvent  844 non-null    object
dtypes: object(1)
memory usage: 6.7+ KB

In [2]:
data = data.drop_duplicates()
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 838 entries, 0 to 843
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   solvent  838 non-null    object
dtypes: object(1)
memory usage: 13.1+ KB

In [3]:
data_k = pd.read_csv('./data/02.데이터수집_01크롤링_화장품국문영문_화장품원료.csv')
data_k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20836 entries, 0 to 20835
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   INGR_KOR_NAME          20836 non-null  object
 1   INGR_ENG_NAME          19804 non-null  object
 2   CAS_NO                 379 non-null    object
 3   ORIGIN_MAJOR_KOR_NAME  20762 non-null  object
 4   INGR_SYNONYM           3612 non-null   object
dtypes: object(5)
memory usage: 814.0+ KB

In [4]:
data['solvent'] = data['solvent'].str.upper().str.strip()
data.tail()

                                   solvent
839             EGG SHELL MEMBRANE EXTRACT
840    FICUS BENGHALENSIS BARK/BUD EXTRACT
841                           O-CYMEN-5-OL
842                POTASSIUM METABISULFITE
843  HYDROGENATED TALLOWTRIMONIUM CHLORIDE

In [5]:
data_k['INGR_ENG_NAME'] = data_k['INGR_ENG_NAME'].str.upper().str.strip()
data_k = data_k.drop(['CAS_NO', 'ORIGIN_MAJOR_KOR_NAME', 'INGR_SYNONYM'], axis=1)

In [6]:
data_k.head()
data.rename(columns={'solvent':'INGR_ENG_NAME'}, inplace = True)
data.head()

         INGR_ENG_NAME
0   CYCLOTETRASILOXANE
1          TETRADECENE
2  METHYL TRIMETHICONE
3           OCTADECANE
4               PEG-18

In [7]:
data_final = pd.merge(data, data_k, how='left', on='INGR_ENG_NAME')
data_final.head()

         INGR_ENG_NAME INGR_KOR_NAME
0   CYCLOTETRASILOXANE   사이클로테트라실록세인
1          TETRADECENE         테트라데센
2  METHYL TRIMETHICONE      메틸트라이메티콘
3           OCTADECANE         옥타데케인
4               PEG-18        피이지-18

In [8]:
selected_rows = data_final[data_final['INGR_ENG_NAME'].notna() & data_final['INGR_KOR_NAME'].isnull()]
selected_rows.head()

                   INGR_ENG_NAME INGR_KOR_NAME
17  CUPHEA VISCOSISSIMA SEED OIL           NaN
18        PEG/PPG-20/9 COPOLYMER           NaN
30             C9-13 ISOPARAFFIN           NaN
61       PEG/PPG-16/17 COPOLYMER           NaN
62            C11-13 ISOPARAFFIN           NaN

In [9]:
final = data_final.dropna()
final.head()
final.to_csv('./data/02.데이터수집_02DB전처리_용매_solvent_EK.csv', index=False)